
/* Root */
:root {
    --color_1: #142030;
    --color_2: #FE5171;
    --color_3: #FDA286;
    --color_4: #F3F8FF;
    --reset:     0px;
    --none:      none;
    --clear:     transparent;
}
/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* Reset */
html, body, h1, h2, h3, h4, h5, h6, p {
    margin: var(--reset);
    padding: var(--reset);
}
body {
    overflow-x: hidden!important;
    font-family: 'Poppins', sans-serif;
}
a:focus, .btn, .btn:focus {
    outline: var(--reset);
    border: var(--reset);
    box-shadow: var(--none);
}
.form-control {
    border: var(--reset);
    border-radius: var(--reset);
}
.form-control:focus {
    outline: var(--reset);
    border: var(--reset);
    box-shadow: var(--reset);
}

@import url(../components/blog-item.css);
@import url(../components/video-item.css);

// Header
.header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: var(--color_1);
    .navbar {
        .navbar-brand {
            img {
                width: 187px;
                height: 50px;
                object-fit: cover;
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #fff;
                    opacity: 0.4;
                    font-weight: normal;
                    text-transform: capitalize;
                    position: relative;
                    z-index: 0;
                    &:hover {
                        color: var(--color_3);
                        opacity: 1;
                        transition: all ease 500ms;
                    }
                    &.active {
                        color: var(--color_3);
                        opacity: 1;
                        &::after {
                            content:"";
                            width: 33px;
                            height: 4px;
                            margin: 0 auto;
                            background-image: url(../img/menu-waves.png);
                            background-repeat: no-repeat;
                            background-position: top center;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: 0;
                        }
                    }
                }
            }
        }
        .social {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    margin: auto 3px;
                    a {
                        text-decoration: none;
                        svg {
                            fill: var(--color_3);
                        }
                    }
                }
            }
        }
    }
}

// Hero Slider
.hero {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 100px 0 20px;
    .hero-slider {
        .swiper-wrapper {
            .swiper-slide {
                .blog-item {
                    width: 100%;
                    height: 715px;
                    margin: 0 auto;
                    border-radius: 20px;   
                    background-image: var(--bg_banner);
                    background-position: top center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    z-index: 0;
                    &::before {
                        content: "";
                        width: 100%;
                        height: 715px;
                        border-radius: 20px;
                        margin: 0 auto;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: -1;
                        background: rgba(20,32,48,0);
                        background: -moz-linear-gradient(top, rgba(20,32,48,0) 0%, rgba(20,32,48,1) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,32,48,0)), color-stop(100%, rgba(20,32,48,1)));
                        background: -webkit-linear-gradient(top, rgba(20,32,48,0) 0%, rgba(20,32,48,1) 100%);
                        background: -o-linear-gradient(top, rgba(20,32,48,0) 0%, rgba(20,32,48,1) 100%);
                        background: -ms-linear-gradient(top, rgba(20,32,48,0) 0%, rgba(20,32,48,1) 100%);
                        background: linear-gradient(to bottom, rgba(20,32,48,0) 0%, rgba(20,32,48,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#142030', endColorstr='#142030', GradientType=0 );
                    }
                    .caption {
                        width: 50%;
                        height: auto;
                        position: absolute;
                        left: 80px;
                        top: 47%;
                        z-index: 0;
                        .blog-date {
                            margin-bottom: 20px;
                            width: fit-content;
                            padding: 13px 20px;
                            color: #fff;
                            border-radius: 50px;
                            background: rgba(254,81,112,1);
                            background: -moz-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,81,112,1)), color-stop(100%, rgba(253,162,134,1)));
                            background: -webkit-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                            background: -o-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                            background: -ms-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                            background: linear-gradient(to right, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5170', endColorstr='#fda286', GradientType=1 );
                        }
                        .blog-title {
                            width: 60%;
                            h1 {
                                margin-bottom: 30px;
                                a {
                                    text-decoration: none;
                                    color: #fff;
                                    font-weight: bold;
                                    transition: all ease 500ms;
                                    &:hover {
                                        color: var(--color_2);
                                        transition: all ease 500ms;
                                    }
                                }
                            }
                        }
                        .blog-short-description {
                            width: fit-content;
                            p {
                                color: rgba($color: #fff, $alpha: 0.6);
                            }
                        }
                    }
                }
            }
        }
        .hero-prev {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background-color: rgba($color: #fff, $alpha: 0.4);
            &::after {
                padding: 5px;
                color: #fff;
                font-size: 20px;
            }
        }
        .hero-next {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background-color: rgba($color: #fff, $alpha: 0.4);
            &::after {
                padding: 5px;
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

// Content Area
.content-area {
    padding-top: 20px;
    padding-bottom: 20px;
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px auto; 
        h2 {
            color: var(--color_1);
            font-weight: bold;
            padding-bottom: 15px;
            text-transform: capitalize;
            position: relative;
            z-index: 0;
            &::after {
                content: "";
                width: 83px;
                height: 10px;
                background-image: url(../img/water-waves.png);
                background-position: top center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 0;
            }
        }
        .btn-custom {
            width: fit-content;
            padding: 13px 20px;
            border-radius: 50px;
            background: rgba(254,81,112,1);
            background: -moz-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,81,112,1)), color-stop(100%, rgba(253,162,134,1)));
            background: -webkit-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
            background: -o-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
            background: -ms-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
            background: linear-gradient(to right, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5170', endColorstr='#fda286', GradientType=1 );
            transition: all ease 500ms;
            span {
                color: #fff;
                text-transform: uppercase;
                &:last-child {
                    svg {
                        fill: #fff;
                    }
                }
            }
            &:hover {
                -webkit-box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
                -moz-box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
                box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
                transition: all ease 500ms;
            }
        }
    }
    
}

// Sidebar Right
.sidebar-right {
    .block {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 30px;
        border: 1px solid rgba($color: #142030, $alpha: 0.2);
        border-radius: 20px;
        padding: 30px;
        text-align: center;
        overflow: hidden;
        &.blog-info {
            background-color: var(--color_1);
            img {
                margin-bottom: 30px;
                width: 187px;
                height: auto;
            }
            p {
                text-align: left;
                line-height: 1.75;
                opacity: 0.6;
                color: #fff;
                margin-bottom: 15px;
            }
            .social {
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    li {
                        display: inline-block;
                        margin: auto 3px;
                        a {
                            text-decoration: none;
                            svg {
                                width: 30px;
                                height: 30px;
                                fill: var(--color_2);
                                transition: all ease 500ms;
                            }
                            &:hover {
                                svg {
                                    fill: var(--color_1);
                                    transition: all ease 500ms;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.topics {
            h3 {
                font-weight: bold;
                margin-bottom: 15px;
                padding-bottom: 15px;
                color: var(--color_1);
                position: relative;
                z-index: 0;
                &::after {
                    content: "";
                    width: 83px;
                    height: 10px;
                    margin: 0 auto;
                    background-image: url(../img/water-waves.png);
                    background-position: top center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                }
            }
            .list {
                text-align: left;
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    li {
                        margin-bottom: 15px;
                        padding-left: 30px;
                        position: relative;
                        z-index: 0;
                        &::before {
                            content: "";
                            width: 24px;
                            height: 24px;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z'/%3E%3C/svg%3E");
                            position: absolute;
                            left: 0;
                            top: 0px;
                            z-index: 0;
                            opacity: 0.4;
                        }
                        a {
                            text-decoration: none;
                            color: var(--color_1);
                            font-weight: bold;
                            text-transform: capitalize;
                            opacity: 0.6;
                            transition: all ease 500ms;
                            &:hover {
                                color: var(--color_2);
                                opacity: 1;
                                transition: all ease 500ms;
                            }
                        }
                    }
                }
            }
        }
        &.sign-up {
            h3 {
                font-weight: bold;
                margin-bottom: 15px;
                padding-bottom: 15px;
                text-transform: capitalize;
                color: var(--color_1);
                position: relative;
                z-index: 0;
                &::after {
                    content: "";
                    width: 83px;
                    height: 10px;
                    margin: 0 auto;
                    background-image: url(../img/water-waves.png);
                    background-position: top center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                }
            }
            form {
                legend {
                    color: var(--color_1);
                    opacity: 0.6;
                    margin-bottom: 15px;
                    margin-top: 30px;
                    text-transform: capitalize;
                    font-size: 20px;
                }
                .form-control {
                    width: 100%;
                    height: 50px;
                    border-radius: 50px;
                    border: 1px solid rgba($color: #142030, $alpha: 0.2);
                    padding: 0 20;
                    text-align: center;
                    color: var(--color_1);
                    &::placeholder {
                        text-transform: capitalize;
                    }
                }
                .btn-custom {
                    width: 100%;
                    padding: 13px 20px;
                    border-radius: 50px;
                    color: #fff;
                    text-transform: uppercase;
                    background: rgba(254,81,112,1);
                    background: -moz-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,81,112,1)), color-stop(100%, rgba(253,162,134,1)));
                    background: -webkit-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                    background: -o-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                    background: -ms-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                    background: linear-gradient(to right, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5170', endColorstr='#fda286', GradientType=1 );
                    transition: all ease 500ms;
                    &:hover {
                        -webkit-box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
                        -moz-box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
                        box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
                        transition: all ease 500ms;
                    }
                }
                small {
                    color: rgba($color: #142030, $alpha: 0.6);
                    a {
                        text-decoration: none;
                        color: var(--color_2);
                        font-weight: bold;
                        transition: all ease 500ms;
                        &:hover {
                            color: var(--color_1);
                            transition: all ease 500ms;
                        }
                    }
                }
            }
        }
        &.banner-advertising {
            width: 100%;
            height: auto;
            margin: 0 auto;
            margin-bottom: 30px;
            border: 0px;
            border-radius: 20px;
            padding: 0;
            text-align: center;
            img {
                width: 100%;
                height: auto;
                margin: 0 auto;
                border-radius: 20px;
                transition: all ease 500ms;
                &:hover {
                    transform: scale(1.1);
                    transition: all ease 500ms;
                }
            }
        }
        &.disclaimer {
            h3 {
                font-weight: bold;
                margin-bottom: 15px;
                padding-bottom: 15px;
                text-transform: capitalize;
                color: var(--color_1);
                position: relative;
                z-index: 0;
                &::after {
                    content: "";
                    width: 83px;
                    height: 10px;
                    margin: 0 auto;
                    background-image: url(../img/water-waves.png);
                    background-position: top center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                }
            }
            p {
                line-height: 1.75;
                color: var(--color_1);
                opacity: 0.6;
                margin-bottom: 15px;
            }
            .btn-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                .btn-custom {
                    width: fit-content;
                    margin: auto 5px;
                    padding: 13px 20px;
                    border-radius: 50px;
                    color: #fff;
                    text-transform: capitalize;
                    background: rgba(254,81,112,1);
                    background: -moz-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,81,112,1)), color-stop(100%, rgba(253,162,134,1)));
                    background: -webkit-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                    background: -o-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                    background: -ms-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                    background: linear-gradient(to right, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5170', endColorstr='#fda286', GradientType=1 );
                    transition: all ease 500ms;
                    &:hover {
                        -webkit-box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
                        -moz-box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
                        box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
                        transition: all ease 500ms;
                    }
                }
            }
        }
    }
}

// Videos Section
.videos {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 50px 0 80px;
    background-color: var(--color_1);
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px auto; 
        h2 {
            color: #fff;
            font-weight: bold;
            padding-bottom: 15px;
            text-transform: capitalize;
            position: relative;
            z-index: 0;
            &::after {
                content: "";
                width: 83px;
                height: 10px;
                background-image: url(../img/water-waves.png);
                background-position: top center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 0;
            }
        }
        .btn-custom {
            width: fit-content;
            padding: 13px 20px;
            border-radius: 50px;
            background: rgba(254,81,112,1);
            background: -moz-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,81,112,1)), color-stop(100%, rgba(253,162,134,1)));
            background: -webkit-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
            background: -o-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
            background: -ms-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
            background: linear-gradient(to right, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5170', endColorstr='#fda286', GradientType=1 );
            transition: all ease 500ms;
            span {
                color: #fff;
                text-transform: uppercase;
                &:last-child {
                    svg {
                        fill: #fff;
                    }
                }
            }
            &:hover {
                -webkit-box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
                -moz-box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
                box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
                transition: all ease 500ms;
            }
        }
    }
}

// Footer
.footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 0;
    background-color: var(--color_1);
    .rights {
        p {
            color: rgba($color: #fff, $alpha: 0.4);
            font-size: 16px;
            a {
                color: var(--color_2);
                transition: all ease 500ms;
                &:hover {
                    color: var(--color_3);
                    transition: all ease 500ms;
                }
            }
        }
    }
    .social {
        text-align: center;
        margin: 0 auto;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                margin: auto 3px;
                a {
                    text-decoration: none;
                    svg {
                        fill: #fff;
                        opacity: 0.4;
                    }
                }
            }
        }
    }
    .design {
        p {
            color: rgba($color: #fff, $alpha: 0.4);
            font-size: 16px;
            text-align: right;
            a {
                color: var(--color_2);
                transition: all ease 500ms;
                &:hover {
                    color: var(--color_3);
                    transition: all ease 500ms;
                }
            }
        }
    }
}

// Top Page
.top-page {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: var(--color_4);
    padding: 100px 0 20px;
    text-align: center;
    .heading {
        h1 {
            font-weight: bold;
            color: var(--color_1);
            text-transform: capitalize;
            margin-bottom: 30px;
        }
        .breadcrumb {
            li {
                text-transform: capitalize;
                a {
                    text-decoration: none;
                    color: var(--color_1);
                    transition: all ease 500ms;
                    &:hover {
                        color: #FE5171;
                        transition: all ease 500ms;
                    }
                }
                &.active {
                    color: var(--color_1);
                    opacity: 0.6;
                }
            }
        }
    }
}

// Page
.page {
    .blog-item {
        .caption {
            .social {
                top:3%;
            }
        }
    }
    .blog-banner {
        width: 100%;
        height: auto;
        margin: 0 auto 30px;
        padding-top: 100px;
        position: relative;
        z-index: 0;
        img {
            width: 100%;
            height: auto;
            max-height: 700px;
            object-fit: cover;
            margin: 0 auto;
            border-radius: 20px;
        }
        .caption {
            width: 75%;
            position: absolute;
            left: 30px;
            bottom: 60px;
            z-index: 0;
            .date {
                margin-bottom: 20px;
                span {
                    color: var(--color_3);
                    svg {
                        fill: var(--color_2);
                    }
                }
            }
            .blog-title {
                width: 80%;
                h3 {
                    color: #fff;
                    font-weight: bold;
                    font-size: 40px;
                }
            }
        }
    }
    .content {
        .banner {
            width: 100%;
            height: auto;
            margin: 0 auto 30px;
            img {
                width: 100%;
                height: auto;
                margin: 0 auto;
                border-radius: 20px;
            }
        }
        .text {
            h1, h2, h3, h4, h5, h6 {
                color: var(--color_1);
                margin-bottom: 30px;
                font-weight: bold;
            }
            p {
                color: rgba($color: #142030, $alpha: 0.6);
                margin-bottom: 15px;
                line-height: 1.75;
                img {
                    width: 100%;
                    height: auto;
                    margin: 15px auto;
                    border-radius: 20px;
                }
            }
            ul {
                li {
                    &::marker {
                        color: var(--color_2);
                    }
                    p {
                        color: var(--color_1);
                    }
                }
            }
            a {
                text-decoration: none;
                color: var(--color_2);
                transition: all ease 500ms;
                &:hover {
                    color: var(--color_3);
                    text-decoration: underline;
                    transition: all ease 500ms;
                }
            }
        }
    }
    .contact-block {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 20px;
        border-radius: 15px;
        background-color: var(--color_1);
        display: flex;
        justify-content: baseline;
        align-items: center;
        span {
            &:first-child {
                background: rgba(254,81,112,1);
                background: -moz-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,81,112,1)), color-stop(100%, rgba(253,162,134,1)));
                background: -webkit-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                background: -o-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                background: -ms-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                background: linear-gradient(to right, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5170', endColorstr='#fda286', GradientType=1 );
                padding: 10px;
                border-radius: 10px;
                svg {
                    width: 40px;
                    height: 40px;
                    fill: #fff;
                }
            }
            &:last-child {
                margin-left: 20px;
                color: #fff;
                strong {
                    text-transform: capitalize;
                }
                p {
                    opacity: 0.6;
                }
            }
        }
    }
    .form-heading {
        margin-top: 50px;
        margin-bottom: 50px;
        h2 {
            color: var(--color_1);
            font-weight: bold;
            padding-bottom: 15px;
            text-transform: capitalize;
            position: relative;
            z-index: 0;
            &::after {
                content: "";
                width: 83px;
                height: 10px;
                background-image: url(../img/water-waves.png);
                background-position: top center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 0;
            }
        }
    }
    .form-control {
        width: 100%;
        height: 55px;
        margin: 0 auto;
        border: 1px solid rgba($color: #000, $alpha: 0.3);
        color: var(--color_1);
        border-radius: 5px;
        transition: all ease 500ms;
        &::placeholder {
            color: var(--color_1);
            text-transform: capitalize;
            opacity: 0.6;
        }
        &:focus {
            border: 1px solid var(--color_2);
            transition: all ease 500ms;
        }
    }
    textarea {
        min-height: 300px;
    }
    .btn-submit {
        width: fit-content;
        padding: 13px 20px;
        border-radius: 50px;
        background: rgba(254,81,112,1);
        background: -moz-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,81,112,1)), color-stop(100%, rgba(253,162,134,1)));
        background: -webkit-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
        background: -o-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
        background: -ms-linear-gradient(left, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
        background: linear-gradient(to right, rgba(254,81,112,1) 0%, rgba(253,162,134,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe5170', endColorstr='#fda286', GradientType=1 );
        transition: all ease 500ms;
        color: #fff;
        text-transform: uppercase;
        &:hover {
            -webkit-box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
            -moz-box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
            box-shadow: 0px 5px 20px 0px rgba(254,81,113,0.5);
            transition: all ease 500ms;
        }
    }
}

// Pagination
.pagination {
    margin-top: 30px;
    li {
        margin: auto 5px;
        a {
            color: var(--color_1);
            text-transform: capitalize;
            border-radius: 5px;
            transition: all ease 500ms;
            &:hover {
                background-color: var(--color_2);
                color: #fff;
                border: 1px solid var(--color_2);
                transition: all ease 500ms;
            }
            &.active {
                color: #fff;
                background-color: var(--color_2);
                border: 1px solid var(--color_2);
            }
        }
    }
}

// Advertise Banner
.banner-content-block {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        opacity: 1;
        transition: all ease 500ms;
        &:hover {
            opacity: 0.8;
            transition: all ease 500ms;
        }
    }
}



// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .navbar-toggler {
        border: 1px solid var(--color_3);
        width: 50px;
        height: 50px;
        box-shadow: none!important;
        .navbar-icon {
            svg {
                width: 30px;
                height: 30px;
                fill: var(--color_3);
            }
        }
    }
    .navbar-nav {
        padding: 20px 0;
        .nav-item {
            .nav-link {
                &.active {
                    &::after {
                        left: 0;
                        right: unset!important;
                    }
                }
            }
        }
    }
    .social {
        padding: 20px 0;
        ul {
            li {
                a {
                    svg {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
    .hero {
        .hero-slider {
            .swiper-wrapper {
                .swiper-slide {
                    .blog-item {
                        height: 540px;
                        &::after {
                            height: 540px;
                        }
                        .caption {
                            left: 0;
                            top: 52%;
                            .blog-title {
                                width: 100%;
                                h1 {
                                    a {
                                        font-size: 20px;
                                    }
                                }
                            }
                            .blog-short-description {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .blog-item {
        img {
            height: 290px;
            object-fit: cover;
        }
        .caption {
            .social {
                right: 10px;
                top: 22%!important;
            }
        }
    }
    .footer {
        .rights {
            p {
                text-align: center;
            }
        }
        .design {
            p {
                text-align: center;
            }
        }
    }
    .pagination {
        margin-bottom: 30px;
    }
    .page {
        .blog-banner {
            img {
                height: 520px;
                max-height: unset;
                object-fit: cover;
            }
            .caption {
                .blog-title {
                    width: 100%;
                }
            }
        }
        .contact-block {
            margin-bottom: 30px;
        }
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-toggler {
        border: 1px solid var(--color_3);
        width: 50px;
        height: 50px;
        box-shadow: none!important;
        .navbar-icon {
            svg {
                width: 30px;
                height: 30px;
                fill: var(--color_3);
            }
        }
    }
    .navbar-nav {
        padding: 20px 0;
        .nav-item {
            .nav-link {
                &.active {
                    &::after {
                        left: 0;
                        right: unset!important;
                    }
                }
            }
        }
    }
    .social {
        padding: 20px 0;
        ul {
            li {
                a {
                    svg {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
    .hero {
        .hero-slider {
            .swiper-wrapper {
                .swiper-slide {
                    .blog-item {
                        height: 540px;
                        &::after {
                            height: 540px;
                        }
                        .caption {
                            left: 0;
                            top: 52%;
                            .blog-title {
                                width: 100%;
                                h1 {
                                    a {
                                        font-size: 20px;
                                    }
                                }
                            }
                            .blog-short-description {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .blog-item {
        img {
            height: 290px;
            object-fit: cover;
        }
        .caption {
            .social {
                right: 10px;
                top: 22%!important;
            }
        }
    }
    .footer {
        .rights {
            p {
                text-align: center;
            }
        }
        .design {
            p {
                text-align: center;
            }
        }
    }
    .pagination {
        margin-bottom: 30px;
    }
    .page {
        .blog-banner {
            img {
                height: 520px;
                max-height: unset;
                object-fit: cover;
            }
            .caption {
                .blog-title {
                    width: 100%;
                }
            }
        }
        .contact-block {
            margin-bottom: 30px;
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-toggler {
        border: 1px solid var(--color_3);
        width: 50px;
        height: 50px;
        box-shadow: none!important;
        .navbar-icon {
            svg {
                width: 30px;
                height: 30px;
                fill: var(--color_3);
            }
        }
    }
    .navbar-nav {
        padding: 20px 0;
        .nav-item {
            .nav-link {
                &.active {
                    &::after {
                        left: 0;
                        right: unset!important;
                    }
                }
            }
        }
    }
    .social {
        padding: 20px 0;
        ul {
            li {
                a {
                    svg {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
    .hero {
        .hero-slider {
            .swiper-wrapper {
                .swiper-slide {
                    .blog-item {
                        height: 540px;
                        &::after {
                            height: 540px;
                        }
                        .caption {
                            left: 0;
                            top: 52%;
                            .blog-title {
                                width: 100%;
                                h1 {
                                    a {
                                        font-size: 20px;
                                    }
                                }
                            }
                            .blog-short-description {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .blog-item {
        img {
            height: 290px;
            object-fit: cover;
        }
        .caption {
            .social {
                right: 10px;
                top: 22%!important;
            }
        }
    }
    .footer {
        .rights {
            p {
                text-align: center;
            }
        }
        .design {
            p {
                text-align: center;
            }
        }
    }
    .pagination {
        margin-bottom: 30px;
    }
    .page {
        .blog-banner {
            img {
                height: 520px;
                max-height: unset;
                object-fit: cover;
            }
            .caption {
                .blog-title {
                    width: 100%;
                }
            }
        }
        .contact-block {
            margin-bottom: 30px;
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

}